:root {
  --main-text-color: #212121;
  --complementary-text-color: #757575;
  --accent-text-color: #ffffff;
  --complementary-accent-color: #2196f3;
  --primary-button-color: #2196f3;
  --footer-mail-tel-color: rgba(255, 255, 255, 0.6);
  --footer-input-color: rgba(255, 255, 255, 0.3);
  --main-background-color: #ffffff;
  --studio-text-color: #000000;
  --second-background-color: #2f303a;
  --task-bachground-color: rgba(47, 48, 58, 0.8);
  --button-background-color: #188ce8;
  --filter-button-color: #f5f4fa;
  --team-background-color: #f5f4fa;
  --portfolio-border-color: #eeeeee;
  --portfolio-background-color: rgba(33, 150, 243, 0.9);
  --header-border-color: #ececec;
  --hero-background-color: #c4c4c4;
  --gradient-color: rgba(47, 48, 58, 0.4);
  --features-bg-color: #f5f4fa;
  --social-client-links-color: #afb1b8;
  --footer-link-bgc: rgba(255, 255, 255, 0.1);
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
  --backdrop-bg-color: rgba(0, 0, 0, 0.2);
  --feedback-text-color: rgba(117, 117, 117, 0.5);
  --modal-input-border: rgba(33, 33, 33, 0.2);
}
/* Общие стили для двух страниц */

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid tomato; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Шапка */

.header-page {
  border-bottom: 1px solid var(--header-border-color);
}

.header-content {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

/* Логотип */

.logo {
  color: var(--complementary-accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-accent {
  color: var(--studio-text-color);
}

/* Навигация */

.navigation {
  display: flex;
  margin-left: 93px;
}

.navigation-item + .navigation-item {
  margin-left: 50px;
}

.navigation .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--main-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--transition-duration) var(--transition-timing-function);
}

.navigation .link:hover,
.navigation .link:focus {
  color: var(--complementary-accent-color);
}

.navigation .link.current {
  color: var(--complementary-accent-color);
  position: relative;
}

.navigation .link.current::after {
  content: "";

  position: absolute;
  bottom: -1px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--complementary-accent-color);
}

/* Контакты в шапке */

.contact {
  display: flex;
  margin-left: auto;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;

  color: var(--complementary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--transition-duration) var(--transition-timing-function);
}

.contact .link:hover,
.contact .link:focus {
  color: var(--complementary-accent-color);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Главная страница */
/* Герой */
.hero {
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-background-color);
  text-align: center;
  background-image: linear-gradient(
      var(--gradient-color),
      var(--gradient-color)
    ),
    url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* outline: 1px solid tomato; */
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  color: var(--accent-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button.primary {
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  min-width: 200px;

  color: var(--accent-text-color);
  background-color: var(--primary-button-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--button-background-color);
}

/* Особенности */

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.features-list > .item {
  width: calc(100% / 4 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.features-list .thumb {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  height: 120px;
  border-radius: 4px;
  background-color: var(--features-bg-color);
}

.features-icon {
  width: 70px;
  height: 70px;
}
/* .features-list > .item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  padding: 25px 100px;

  background-color: var(--features-bg-color);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.features-list .icon-antenna::before {
  background-image: url(../images/antenna.png);
}

.features-list .icon-clock::before {
  background-image: url(../images/clock.png);
} */

.features-name {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-text {
  color: var(--complementary-text-color);
}

/* Чем мы занимаемся */

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.section.no-top-padding {
  padding-top: 0;
}

.task-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.task-list > .item {
  width: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;

  position: relative;
}

.task-list .description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-text-color);
  background-color: var(--task-bachground-color);
}

/* Наша команда */

.team {
  background-color: var(--team-background-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.team-list > .item {
  margin-top: 30px;
  margin-left: 30px;
  padding-bottom: 30px;

  background-color: var(--main-background-color);
  text-align: center;
  width: calc(100% / 4 - 30px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-photo {
  margin-bottom: 30px;
}

.team-member {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-position {
  color: var(--complementary-text-color);
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links .item {
  width: 44px;
  height: 44px;
}

.social-icons {
  width: 20px;
  height: 20px;
  fill: var(--social-client-links-color);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.social-links .item + .item {
  margin-left: 10px;
}

.social-links .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.social-links .link:focus,
.social-links .link:hover {
  background-color: var(--complementary-accent-color);
}

.social-links .link:focus .social-icons,
.social-links .link:hover .social-icons {
  fill: var(--accent-text-color);
}

/* Постоянные клиенты */

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.clients-list > .item {
  margin-top: 30px;
  margin-left: 30px;
  width: calc(100% / 6 - 30px);
}

.clients-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--social-client-links-color);
  border-radius: 4px;
  height: 92px;
  color: var(--social-client-links-color);

  transition: border var(--transition-duration)
    var(--transition-timing-function);
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;

  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.clients-list .link:focus,
.clients-list .link:hover {
  border: 1px solid var(--complementary-accent-color);
  outline: none;
}

.clients-list .link:focus .clients-icon,
.clients-list .link:hover .clients-icon {
  fill: var(--complementary-accent-color);
}

/* Подвал */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--second-background-color);
}

.footer-content {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  color: var(--accent-text-color);
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.address {
  font-style: normal;
}

.address-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.map {
  color: var(--accent-text-color);
}

.mail,
.tel {
  color: var(--footer-mail-tel-color);
}

.address .link {
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.address .link:hover,
.address .link:focus {
  color: var(--complementary-accent-color);
}

.address-block {
  margin-right: 70px;
}

.footer-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--accent-text-color);
}

.footer-link {
  background-color: var(--footer-link-bgc);
}
.footer .social-icons {
  fill: var(--accent-text-color);
}

.signup {
  display: flex;
  margin-left: auto;
}

.signup-label {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}

.signup-text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--accent-text-color);
}

.signup-input {
  width: 358px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid var(--footer-input-color);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  font-family: inherit;
  font-size: 16px;
  outline: none;
  color: var(--footer-mail-tel-color);
  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
}

.signup-input::placeholder {
  color: var(--footer-mail-tel-color);
}

.signup-input:focus {
  border-color: var(--complementary-accent-color);
}

.signup-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  padding: 0;
  height: 50px;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  background-color: var(--primary-button-color);
  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--accent-text-color);
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.signup-button:focus,
.signup-button:hover {
  background-color: var(--button-background-color);
}

.signup-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop-bg-color);

  transition: opacity var(--transition-duration)
      var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  padding-left: 41px;
  padding-right: 39px;
  width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform var(--transition-duration)
      var(--transition-timing-function),
    opacity var(--transition-duration) var(--transition-timing-function);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
}

.btn-close-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.button-close:focus .btn-close-icon,
.button-close:hover .btn-close-icon {
  fill: var(--complementary-accent-color);
}

.order-text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--main-text-color);
}

.order-label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--complementary-text-color);
  margin-bottom: 10px;
}

.order-label:last-child {
  margin-bottom: 20px;
}

.order-label-name {
  margin-bottom: 4px;
}

.order-input-wrapper {
  position: relative;
  display: block;
  cursor: pointer;
}

.order-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--modal-input-border);
  background-color: transparent;
  padding-left: 42px;
  cursor: pointer;
  outline: none;
  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
}

.order-icons {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.feedback {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.feedback::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--feedback-text-color);
}

.order-input:focus,
.order-input:hover {
  border-color: var(--complementary-accent-color);
}

.order-input:focus + .order-icons,
.order-input:hover + .order-icons {
  fill: var(--complementary-accent-color);
}

.order-agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  color: var(--complementary-text-color);
}

.check-icon {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
}

.order-agreement:focus-within .check-icon,
.order-agreement:hover .check-icon {
  border-color: var(--complementary-accent-color);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox:checked + .check-icon {
  background-image: url(../images/icon-check.svg);
  border: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.agreement-link {
  color: var(--complementary-accent-color);
}

.modal-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  height: 50px;
  padding: 10px;
  padding-left: 56px;
  padding-right: 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--primary-button-color);
  border: none;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--accent-text-color);
  cursor: pointer;

  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.modal-button:focus,
.modal-button:hover {
  background-color: var(--button-background-color);
}

/* Страница портфолио */

/* Наши работы */

/* Фильтр */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list > .item + .item {
  margin-left: 8px;
}

.button.filter {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  color: var(--main-text-color);
  background-color: var(--filter-button-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;
  cursor: pointer;

  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);
}

.button.filter:hover,
.button.filter:focus,
.button.current {
  color: var(--accent-text-color);
  background-color: var(--complementary-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Портфолио */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  background-color: var(--main-background-color);
}

.portfolio-link {
  display: block;
  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
}

.portfolio-link:hover,
.portfolio-link:focus {
  outline: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item .thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-information {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  color: var(--accent-text-color);
  background-color: var(--portfolio-background-color);

  transform: translateY(101%);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.portfolio-link:hover .portfolio-information,
.portfolio-link:focus .portfolio-information {
  transform: translateY(0);
}

.portfolio-description {
  padding: 20px 24px;
  border: 1px solid var(--portfolio-border-color);
}

.portfolio-name {
  margin-bottom: 4px;

  color: var(--main-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: var(--complementary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
